.umi-alignment-table,
.umi-alignment-cell {
    border-style: solid;
    border-width: thin;
}

.umi-alignment-card {
    border-style: solid;
    border-radius: 11px;
    border-width: thin;
    padding: 30px;
    margin: 10px 0;
}

.umi-alignment-card .umi-alignment-table {
    margin: 0;
}

.pensar {
    text-align: center;
    color: steelblue;
    font-weight: bold;
}

.disparadores {
    text-align: center;
    color: lightslategray;
    font-weight: bold;
}

.reto {
    text-align: center;
    color: darkslategray;
    font-weight: bold;
}

.informative-text {
    text-align: justify;
}

h3 {
    color: darkslategray;
}